#######################
#Verbose logging enable
#######################
log verbose %logpath%
###################################################################
# Load the default session and exclude files with extension .log
###################################################################
load <default>
filter "-*.log;-Archive\"
filter cutoff:<1days
##############################################
# Load the base folders and backup destination - this is not being use at this time.
###############################################
#load "\\escnp.sce.com\SCPRD\sc\prod\itron\Import\HVE_Receive" "\\ide\Projects\AMI\STAGE 2 - Testing\4. Miscellaneous\Misc\Itron\Import\hve_receive"
#sync mirror:lt->rt
##############################################################
# Copy different files left to right, delete orphans on right
##############################################################
load "\\escnp.sce.com\SCPRD\sc\prod\itron\Import\reading\workbin_0" "\\ide\Projects\AMI\STAGE 2 - Testing\4. Miscellaneous\Misc\Itron\Import\reading\workbin_0"
sync mirror:lt->rt

#Supress prompt
option confirm:yes-to-all